.cart-dropdown {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: var(--header-padding);
  border: 2px solid #000;
  background-color: #fff;
  width: 17.5rem;
  padding: 1rem;
  transform: translateY(100%);
  z-index: 10;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .cart-items {
    height: 16.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;
    overflow-y: scroll;
  }

  .cart-items::-webkit-scrollbar {
    display: none;
  }

  .cart-items > * + * {
    margin-top: 1rem;
  }

  .custom-button {
    width: 100%;
    font-weight: 700;
    margin-top: 0.5rem;
  }

  &.hidden {
    display: none;
  }
}
